@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
}

main#landing-page {
  display: flex;
  flex-direction: column;
}

#landing-page .container {
  max-width: 1050px;
}

#header {
  background: url(./Desktop.png) no-repeat top center;
  background-size: 100% 1100px;
  padding-top: 184px;
}

#banner {
  height: 900px;
}

#subscribe {
  height: 600px;
}

@media only screen and (max-width: 768px) {
  main#landing-page {
    gap: 100px;
  }

  #header {
    background: url(./Mobile.png) no-repeat top center;
    background-size: 100% 1100px;
    padding-top: 140px;
  }

  #banner,
  #subscribe {
    height: auto;
  }
}